# Created by https://www.toptal.com/developers/gitignore/api/venv,dotenv
# Edit at https://www.toptal.com/developers/gitignore?templates=venv,dotenv

### dotenv ###
.env

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/venv,dotenv

### user info ###
user_list.json
project_structure.txt
*.log

# Docker
.docker
docker-compose.override.yml

# Docker build context & runtime files
*.dockerignore
.docker/
docker/data/
docker-compose.override.yaml
docker-compose.override.yml

# Docker volume data
data/
docker_data/

# Docker logs
docker-compose.log
docker/logs/
*.log

# Docker environment files
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Docker network files
docker-compose.override.yml
docker-compose.override.yaml

# Docker temp files
.docker-compose*
.docker/
.containers/
tmp/